@page "/counter"
@namespace MauiHybridBlazor

<h1>Counter</h1>

<p role="status">Current count: @ViewModel.Counter</p>

<p role="status">Current name: @ViewModel.Name</p>

<button class="btn btn-primary" @onclick=@OnCounterButtonClicked>Click me</button>
